.display-container {
  width: max-content;
  .buttons {
    display: flex;
    justify-content: space-around;
    a,
    button {
      color: #fff;
      background-color: #000;
      outline: none;
      border: none;
      padding: 0.5rem;
      margin: 2px 4px;
      border-radius: 4px;
      text-decoration: none;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.display-area {
  width: 250px;
  height: 400px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
